html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
 #map{
     height: 100%;
 }
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
     height: 100%;
}
/* Set gray background color and 100% height */
.sidenav{
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
.col-sm-9{
  height: 100%;
  padding-left: 0px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding-top: 20px;
    }
  .row.content {height:100%;}
  .col-sm-9 {
    height: 100%;
    padding-left: 0px;
  }
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
  height: 100%;
}
.boxWiki{
  float: left;
  padding: 5px;
}
